body {

	background-color:black;
}

span {
	background-color: darkgray;
}

.crystal-image	{

	width: 240px;
	height: 240px;
	border-radius: 50%;
}



/*If I had more time I could get this css file to link correctly
but so far I have had trouble even getting that to work with this assignment.
 Not my best day on this one.*/